__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/

data/*.jsonl
data/databases/*.db
data/processed/*
data/raw/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/databases/.gitkeep

experiments/*
!experiments/.gitkeep
best/*
!best/.gitkeep

*.log
*.zip
